.git
.gitignore
.env
.vscode

frontend/node_modules
frontend/.next
frontend/.turbo
frontend/out

backend/.pytest_cache
backend/__pycache__
backend/**/*.pyc

ml/data
ml/models
ml/artifacts

**/__pycache__
**/*.pyc
